* {
    background-color: #504d4d;
    color: #dfd9d9;
    padding: 0;
    margin: 10px;
    max-width: 1200px;
}

.body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #0099cc;
    padding: 0;
    margin-left: 20px;
    font-size: 50px;
}

p {
    text-align: justify;
    margin-left: 50px;
    color: #c9bdbd;
}

h2 {
    margin: 30px;
    color: #0099cc;
}

.points {
    color: #00cccc;
    padding: 0;
}

.Bpoints {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 5px;
    border-radius: 4px;
}

h3 {
    color: #c7bcbc;
    font-size: 25px;
}

.image {
    display: flex;
    justify-content: space-around;
}

.Doctors {
    display: flex;
    justify-content: space-between;
    color: #beb5b5;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.Reviews {
    background-color: #000000;
}

.Reviews1 {
    background-color: #087171;
    color: #b1a6a6;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

h4 {
    color: #ffffff;
    background-color: #0099cc;
    padding: 5px;
    border-radius: 4px;
}

h5 {
    color: #f3ebeb;
    font-size: 15px;
}


.form-container {
    max-width: 400px;
    margin: 0 auto;
}
    
.form-group {
    margin-bottom: 10px;
}
    
.form-label {
    display: block;
    font-weight: bold;
    color: #000000;
}
    
.form-input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #4CAF50;
}
    

#button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

button:focus {
    outline: none;
}



