*{
    color: white;
    background-color: black;
    font-weight: bold;
}

h1{
    margin: 10px;
    padding: 5px;
    text-align: center;
    font-size: 50px;
}

table {

    border: 10px solid #cd1717;
    width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
  font-size: 25px;
  border: 5px solid red;
  background-color: darkblue;
}

th{
    background-color: rgb(46, 97, 114);
}

img {
  width: 200px;
  height: auto; 
}
